@{
    ViewBag.Title = "Home Page";
    ViewBag.SiteName = "All About Dogs";
}

<div class="jumbotron">
    <h1>@ViewBag.SiteName</h1>
    <p class="lead">@ViewBag.SiteName is a Web site built with the ASP.NET web framework using HTML, CSS, JavaScript, and AngularJS.</p>
</div>

<div class="row">

    <div class="col-sm-4">
        <h2>Articles</h2>
        <p ng-app="getCount" ng-controller="homeIndexCtrl">
            Browse {{count}} articles about dogs.
        </p>
        <a href="@Url.Action("Index","Test")"><h4>Visit Articles</h4></a>
    </div>

    <div class="col-sm-4">
        <h2>Register</h2>
        <p>
            Register to leave comments on articles.
        </p>
        <a href="@Url.Action("AddOrEdit","Login")"><h4>Visit Registration Page</h4></a>
    </div>
</div>
<script>
    var app = angular.module('getCount', []);
    app.controller('homeIndexCtrl', function ($scope) {
        $.ajax({
            url: '@Url.Action("GetMaxCount","Test")',
            method: 'GET',
            success: function (data) {
                $scope.count = data;
                $scope.$apply();
            }
        });
    });
</script>