@model DogSite.Models.ArticleViewModel


<div class="jumbotron">
    @if (Model != null)
    {
        <h1 id="title">@Model.Title</h1>
        <p id="body" class="preline">@Model.Body</p>
        <p class="lead">@Model.Attribution</p>
    }
</div>



<script>
    function GetPreviousArticle() {
        $.ajax({
            url: '@Url.Action("GetArticle", "Test",new { Id = Model.Id - 1 })',
            method: 'GET',
            success: function (data) {
                $("#currentArticle").html(data)
            }
        });
    }

    function GetNextArticle() {
        $.ajax({
            url: '@Url.Action("GetArticle", "Test",new { Id = Model.Id+1 })',
            method: 'GET',
            success: function (data) {
                $("#currentArticle").html(data)
            }
        });
    }
</script>