@model DogSite.Models.ArticleViewModel

@section left{
    <img src="/Content/Images/dogImage1.png" alt="dog picture" class="img-responsive" />
}

@section middle{
    <container id="currentArticle"><!--PartialView _Article--></container>

    <div ng-app="CommentApp" ng-controller="CommentController">

        <input id="previousArticleButton" class="btn btn-primary" type="button" value="Previous" ng-click="getPreviousArticle()" />
        <input id="nextArticleButton" class="btn btn-primary" type="button" value="Next" ng-click="getNextArticle()" />
        {{count}}

        <p>@Html.ActionLink("Back to List", "Index")</p>


        <hr />
        <p class="preline" ng-model="label">{{label}}</p>

        <div class="panel panel-danger" ng-model="errorPanel" ng-show="errorPanelShow">
       
            <div class="panel-heading clearfix">
                <h3 class="panel-title pull-left" style="padding:7.5px;"><strong>{{panelTitle}}</strong></h3>
                <button type="button" class="close" aria-label="Close" ng-click="hideErrorPanel()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="panel-body">
                {{panelBody}}
            </div>
        </div>
        <br />


        <div>
            <textarea id="commentBox" rows="4" cols="100" maxlength="256" ng-model="postComment" ng-click="clearPlaceHolderText()"></textarea>
            <input id="postCommentButton" class="btn btn-primary" type="button" value="Post" ng-click="addComment()" />
        </div>

        <div id="partialViewComments"></div>

    </div>
}

@section right{
    <img src="/Content/Images/dogImage1.png" alt="dog picture" class="img-responsive" />
}

<script>


//call on load
$(document).ready(function () {

    $.ajax({
        url: '@Url.Action("GetArticle","Test",new { Id = Model.Id})',
        method: 'GET',
        success: function (data) {
            $("#currentArticle").html(data)
        }
    });
});

//Angular commment app
var app = angular.module('CommentApp', []);
app.controller('CommentController', function ($scope) {

    //initialize
    var postCommentPlaceHolderText = "Comment!";
    $scope.postComment = postCommentPlaceHolderText;

    $scope.count = @Model.Id;

    var maxCount;
    $.ajax({
        url: '@Url.Action("GetMaxCount","Test")',
        method: 'GET',
        success: function (data) {
            maxCount = data;
        }
    });

    $scope.clearPlaceHolderText = function () {
        if ($scope.postComment === postCommentPlaceHolderText)
            $scope.postComment = "All clear!"
    }

    $scope.getArticle = function () {
        $.ajax({
            url: '@Url.Action("GetArticle","Test")?Id=' + $scope.count,
            method: 'GET',
            success: function (data) {
                $("#currentArticle").html(data);
            }
        });
    }

    //get next/previous articles
    $scope.getNextArticle = function () {
        $scope.count = $scope.count >= maxCount ? 1 : ++$scope.count;
        $scope.getArticle();
        $scope.getComments();
    }

    $scope.getPreviousArticle = function () {
        $scope.count = $scope.count <= 1 ? maxCount : --$scope.count;
        $scope.getArticle();
        $scope.getComments();
    }

    $scope.errorPanelShow= true;
    $scope.hideErrorPanel = function () {
        $scope.errorPanelShow = false;
    }



    //add comment to article where articleId === $scope.count
    $scope.addComment = function () {
        $.ajax({
            url: '@Url.Action("AddComment", "Test")?comment=' + escape( $scope.postComment )+ "&articleId=" + $scope.count,
            method: 'POST',
            success: function (data) {
                if (data === "Unauthorized") {
                    $scope.label = "you need to log in";
                    $scope.errorPanelShow = true;
                    $scope.panelTitle = "cool";
                    $scope.panelBody = "You need to log in";
                    $scope.$apply();
                    return;
                }
                else if (data != "OK") {
                    $scope.label = "unexpected server error contact site admin";
                    $scope.$apply();
                    console.log("ajax call AddComment,Test in ArticleDetail returned: " + data + " HttpStatusCode");
                    return;
                }
                else {//OK
                    $scope.label = data;//$scope.postComment;
                    $scope.comments += $scope.postComment + "\n\n\n";
                    $scope.getComments();
                    $scope.$apply();
                }
            }
        });
    }

    //get comments for article where articleId === $scope.count
    $scope.getComments = function () {
        $.ajax({
            url: '@Url.Action("GetCommentList","Test")?articleId=' + $scope.count,
            method: 'GET',
            success: function (data) {
                $("#partialViewComments").html(data);
                $scope.$apply();
            }
        });
    };

    $scope.getComments();//call to get comments on initial article
});
</script>