@model DogSite.Models.ArticleViewModel

@section left{
    <img src="/Content/Images/dogImage1.png" alt="dog picture" class="img-responsive" />
}

@section middle{
    <div id="currentArticle"><!--PartialView _Article--></div>

    <div ng-app="CommentApp" ng-controller="CommentController">

        <input id="previousArticleButton" class="btn btn-primary" type="button" value="Previous" ng-click="getPreviousArticleId()" />
        <input id="nextArticleButton" class="btn btn-primary" type="button" value="Next" ng-click="getNextArticleId()" />
        {{count}}

        <p>@Html.ActionLink("Back to List", "Index")</p>

        <p class="preline" ng-model="label">{{label}}</p>
        <hr />
        <textarea id="commentBox" rows="4" cols="100" maxlength="256" ng-model="postComment" ng-click="clearPlaceHolderText()"></textarea>

        <input id="postCommentButton" class="btn btn-primary" type="button" value="Post" ng-click="addComment()" />

        <div style="overflow-wrap:break-word" ng-model="commentSection">
            <p class="preline" ng-model="comments">{{comments}}</p>
        </div>
    </div>
}

@section right{
    <img src="/Content/Images/dogImage1.png" alt="dog picture" class="img-responsive" />
}

<script>
    
//call on load
$(document).ready(function () {
    $.ajax({
        url: '@Url.Action("GetArticle","Test",new { Id = Model.Id})',
        method: 'GET',
        success: function (data) {
            $("#currentArticle").html(data)
        }
    });
});

//Angular commment app
var app = angular.module('CommentApp', []);
app.controller('CommentController', function ($scope) {

    //initialize
    var postCommentPlaceHolderText = "Comment!";
    $scope.postComment = postCommentPlaceHolderText;

    $scope.count = @Model.Id;

    var maxCount;
    $.ajax({
        url: '@Url.Action("GetMaxCount","Test")',
        method: 'GET',
        success: function (data) {
            maxCount = data;
        }
    });

    $scope.clearPlaceHolderText = function () {
        if ($scope.postComment === postCommentPlaceHolderText)
            $scope.postComment = "All clear!"
    }

    $scope.getArticle = function () {
        $.ajax({
            url: '@Url.Action("GetArticle","Test")?Id=' + $scope.count,
            method: 'GET',
            success: function (data) {
                $("#currentArticle").html(data)
            }
        });
    }

    //get next/previous articles
    $scope.getNextArticleId = function () {
        $scope.count = $scope.count >= maxCount ? 1 : ++$scope.count;
        $scope.getArticle();
        $scope.getComments();
    }

    $scope.getPreviousArticleId = function () {
        $scope.count = $scope.count <= 1 ? maxCount : --$scope.count;
        $scope.getArticle();
        $scope.getComments();
    }

    //add comment to article where articleId === $scope.count
    $scope.addComment = function () {
        $scope.comments += "\n\n\n" + $scope.postComment
        $.ajax({
            url: '@Url.Action("AddComment", "Test")?comment=' + escape( $scope.postComment )+ "&articleId=" + $scope.count,
            method: 'POST',
            success: function (data) {
                $scope.label = $scope.postComment;
                $scope.$apply();
            }
        });
    }

    //get comments for article where articleId === $scope.count
    $scope.getComments = function () {
        $.ajax({
            url: '@Url.Action("GetComments","Test")?articleId=' + $scope.count,
            method: 'GET',
            success: function (data) {
                $scope.comments = data
                $scope.$apply();
            }
        });
    };
    $scope.getComments();//call to get comments on initial article
});
</script>