@model PagedList.IPagedList<DogSite.Models.ArticleViewModel>
@using PagedList.Mvc
@{
    ViewBag.Title = "Dog Articles";
}

<h2>@ViewBag.Title</h2>

<table class="table table-striped">
    <thead>
        <tr><th>Title</th></tr>
    </thead>
    <tbody>
        @if(Model != null)
        {
            foreach (var item in Model)
            {
                <tr><td><a href="/Test/ArticleDetail?articleId=@item.Id">@item.Title</a></td></tr>
            }
        }
    </tbody>
</table>
@Html.PagedListPager(Model,page => Url.Action("Index", new { page,pageSize = Model.PageSize}))
Showing @Model.FirstItemOnPage to @Model.LastItemOnPage of @Model.TotalItemCount Articles