@model PagedList.IPagedList<DogSite.Models.ArticleViewModel>
@using PagedList.Mvc
@{
    ViewBag.Title = "Dog Articles";
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<h2>@ViewBag.Title</h2>

<table class="table table-striped">
    <tr>
        <th>Title</th>
        <th>Body</th>
        <th>Attribution</th>
    </tr>
    <tbody>
        @if(Model != null)
        {
            foreach (var item in Model)
            {
            <tr>
                <td>@item.Title</td>
                <td style="white-space:pre-line">@item.Body</td>
                <td>@item.Attribution</td>
            </tr>
            }
        }
    </tbody>
</table>
@Html.PagedListPager(Model,page => Url.Action("Index", new { page,pageSize = Model.PageSize}))
Showing @Model.FirstItemOnPage to @Model.LastItemOnPage of @Model.TotalItemCount Articles